html {
	margin:0;
	padding:0;
	}
body {
	margin:0;
	background:url(img/faixa_fundo_rept.png);
	background-repeat:repeat-x;
	}
#div_topo{
	height:180px;
	width:100%;
	background:url(img/faixa_topo.png);
	}
figure{
	margin:0;
	}
figure#logo img#P{
	margin:0;
	position:absolute;
	top:7px;
	left:172px;
	}
figure#logo img#zape{
	margin:0;
	position:absolute;
	top:55px;
	left:420px;
	}
figure#iso img{
	float:right;
	margin-right:30px;
	margin-top:93px;
	cursor:pointer;
	}
#div_menu{
	height:33px;
	width:100%;
	background:url(img/fundo_menu.png);
	}
#menu_lista{
	padding:0;
	position:absolute;
	margin: 0;
	top:191px;
	left:595px;
	list-style:none;
	text-decoration:none;
	text-align:center;
	font-family:calibri;
	font-size:11pt;
	}
#menu_lista li{
	float:left;
	text-decoration:none;
	text-align:center;
	height:20px;
	width:100px;
	border-radius:10px;
	}
a{
	color:black;
	}
#menu_lista li:hover{
	background:silver;
	}
#menu_lista li:active{
	background:#90D2DA;
	}
#div_cont{
	height:500px;
	width:700px;
	background:url(img/fundo_cont.png);
	margin:0 auto;
	padding:0;
	}
#rodape{
	width:100%;
	height:200px;
	background:url(img/faixa_fundo_rodape.jpg);
	}
#texto_rodape{
	margin-left:299px;
	margin-top:75px;
	}