html {
	margin:0;
	padding:0;
	}
body {
	margin:0;
	background:url(img/faixa_fundo_rept.png);
	background-repeat:repeat-x;
	}
#topo{
	height:180px;
	width:100%;
	background:url(img/faixa_topo.png);
	}
.logo {
	position:absolute;
	top:-15px;
	left:132px;
	cursor:pointer;
	}
#menu{
	height:33px;
	width:100%;
	background:url(img/fundo_menu.png);
	}
#div_cont{
	height:500px;
	width:700px;
	background:url(img/fundo_cont.png);
	margin:0 auto;
	padding:0;
	}
#div_text{
	width:300px;
	height:225px;
	margin:0;
	font-size:14pt;
	margin-left:40px;
	font-family:calibri;
	}
#div_img{
	width:350px;
	height:450px;
	background:url(img/fundo_divimg.png);
	float:right;
	background-repeat:no-repeat;
	}
ul{
	padding:0;
	position:absolute;
	margin: 0;
	top:191px;
	left:595px;
	list-style:none;
	text-decoration:none;
	text-align:center;
	font-family:calibri;
	font-size:11pt;
	}
ul li{
	float:left;
	text-decoration:none;
	text-align:center;
	height:20px;
	width:100px;
	border-radius:10px;
	}
a{
	color:black;
	}
ul li:hover{
	background:silver;
	
	}
ul li:active{
	background:#90D2DA;
	}
#div_text p{
	text-align:justify;
	margin:0;
	padding:30px 0;
	}
#saiba_mais{
	width:55px;
	height:25px;
	margin-left:40px;
	}