@charset "utf-8";
																/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;270px
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
:focus {
    outline: 0;
}
 
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
																/*Corpo do site*/
html {
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;

	}
body {
	margin:0;
	background:url(img/faixa_fundo_rept.png);
	background-repeat:repeat-x;
	font-family:Arial, sans-serif;
	}
																/*Topo*/
header#topo{
	height:180px;
	width:100%;
	background:url(img/fundo_topo.png);
	}
figure{
	margin:0;
}
figure#logo img#P{
	margin:0;
	position:absolute;
	top:7px;
	left:172px;
	}
figure#logo img#zape{
	margin:0;
	position:absolute;
	top:55px;
	left:420px;
	}
figure#iso img{
	float:right;
	margin-right:0px;
	margin-top:100px;
	}
																/*Menu Principal*/
nav#menu{
    height: 33px;
    margin: 0;
    background-image: url(img/fundo_menu.png);
}
div#container_menu{
	width:715px;
	margin:0 auto;
	height: 33px;
}
nav#menu ul{
	float:right;
	list-style: none;
	text-transform: uppercase;
	height: 33px;
	padding:0;
	}	
nav#menu  a li{
	display: inline-block;
    list-style: none;
    margin-top: 9px;
    padding: 3px 7px 3px 7px;
    margin-left: 7px;
    font-size: 11pt;
    font-family: Arial,sans-serif;
    border-radius: 10pt;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s:
    -o-transition: background-color 1s;
    transition: background-color 1s;
    -moz-opacity: 0.99;
}
nav#menu a{
	color:black;
	}
nav#menu a:hover{
    color: white;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;

}
nav#menu li:hover{
	background:silver;
	
	}
nav#menu li:active{
	background:#90D2DA;
	}
																/*Conteudo Principal*/
div#cnc{
	width:282px;
	height:600px;
	float:left;
}
div#semi{
	width:282px;
	height:600px;
	float:right;
}
section{
	height:700px;
	width:700px;
	background:white;
	margin:0 auto;
	padding:0;
	}
section div#text{
	width:490px;
	height:225px;
	margin:0;
	font-size:14pt;
	margin-left:30px;
	font-family:calibri;
	font-size: 12pt;
	font-family:Arial, sans-serif;

	}
section div#text p{
	text-align:left;
	margin:0;
	padding:40px 0;
	font-family:Arial, sans-serif;
	line-height: 22px;
	}
section div#img{
	width:175px;
	height:350px;
	background:url(img/img_semiautomatica.png);
	float:right;
	background-repeat:no-repeat;
	}
a {
	text-decoration: none;
	color:black;
}
section #destaques-direita{
	width:294px;
	height:auto;
	margin-left: 325px;
	font-size: 12pt;
}
section #destaques-direita ul{
	list-style: disc ;
	padding:0;
	margin-left:20px;
	}
section #destaques-direita ul li{
	width: 290px;
	margin: 0;
	line-height: 22px;
	}
section #destaques-esquerda{
	width:270px;
	height:auto;
	float: left;
	font-size: 12pt;

}
section #destaques-esquerda ul{
	list-style: disc;
	padding:0;
	margin-left:20px;
	}
																/*Rodape*/
section #destaques-esquerda ul li{
	width: 290px;
	margin: 0;
	line-height: 22px;
	}					
section #p{
	width: 628px;
	}
footer#rodape{
	width:100%;
	height:200px;
	background:#C1C1C1;
	}
footer#rodape img{
	margin-top:75px;
	padding-bottom:5px;
	}
div#container_rodape{
	width:700px;
	height:50px;
	margin:0 auto;
}
div#endereco{
	width:370px;
	height:50px;
	float: left;
	font-family:calibri, sans-serif;
	font-size: 100%;
	}
div#fone{
	float: right;
	width:119px;
	height:50px;
	font-family:calibri, sans-serif;
	font-size: 100%;
	}
div#email{
	margin:0;
	font-family:calibri, sans-serif;
	font-size: 100%;
	}