@charset "utf-8";

html{
	margin:0;
	padding:0;
	}
body{
	margin:0;
	background:url(img/faixa_fundo_rept.png);
	background-repeat:repeat-x;
	}
header#topo{
	height:180px;
	width:100%;
	background:url(img/faixa_topo.png);
	}
figure{
	margin:0;
<<<<<<< HEAD
}
figure#logo img#P{
	margin:0;
	position:absolute;
	top:7px;
	left:172px;
	}
figure#logo img#zape{
	margin:0;
	position:absolute;
	top:55px;
	left:420px;
}
figure#iso img{
	float:right;
	margin-right:30px;
	margin-top:93px;
	cursor:pointer;
	}
nav{
    height: 33px;
    margin: 0;
    background-image: url("img/fundo_menu.png");
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	margin-left: 627px;
	height: 33px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}	
nav#menu  a li{
	  display: inline-block;
    list-style: none;
    margin-top: 9px;
    padding: 3px 7px 3px 7px;
    margin-lef: 7px;
    font-size: 11pt;
    font-family: calibri;
    border-radius: 10pt;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s:
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
nav#menu a{
	color:black;
	}
nav#menu a:hover{
    color: blue;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;

}
nav#menu li:hover{
	background:silver;
	
	}
nav#menu li:active{
	background:#90D2DA;
	}
section{
	height:500px;
	width:700px;
	background:url(img/fundo_cont.png);
	margin:0 auto;
	padding:0;
	}
#div_text{
	width:300px;
	height:225px;
	margin:0;
	font-size:14pt;
	margin-left:30px;
	font-family:calibri;
	}
#div_text p{
	text-align:justify;
	margin:0;
	padding:40px 0;
	}
#div_img{
	width:345px;
	height:230px;
	background:url(img/img_home.png);
	float:right;
	background-repeat:no-repeat;
	}

#saiba_mais{
	width:55px;
	height:25px;
	margin-left:30px;
	}
footer#rodape{
	width:100%;
	height:200px;
	background:url(img/faixa_fundo_rodape.jpg);
	}
footer#rodape img{
	margin-left:299px;
	margin-top:75px;
	}
